
:root {
  --color-navbar-bg: rgba(35, 39, 47, 0.92);
  --color-navlink-gradient: linear-gradient(90deg, rgba(27, 201, 224, 0.15) 0%, rgba(27, 201, 224, 0.15) 100%);
  --color-bg-main: #1a1a1a;
  --color-bg-panel: #23272f;
  --color-accent: #4dd0e1;
  --color-accent-light: #b0b3b8;
  --color-panel-border: #333;
  --color-panel-shadow: #0006;
  --color-panel-shadow-light: #0003;
  --color-white: #fff;
  --color-text-main: #f5f6fa;
  --color-skill-bg: #181a1b;
  --color-link: #646cff;
  --color-link-hover: #535bf2;
  --color-link-hover-light: #747bff;
  --color-btn-bg: #1a1a1a;
  --color-btn-bg-light: #f9f9f9;
  --color-btn-border-hover: #646cff;
  --color-body-bg-light: #ffffff;
  --color-body-text-light: #213547;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-bg-main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-link);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-link-hover);
}

body {
  margin: 0;
  display: block;
  place-items: center;
  background-color: var(--color-bg-main);
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-btn-bg);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-btn-border-hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
  color: var(--color-body-text-light);
  background-color: var(--color-body-bg-light);
  }
  a:hover {
  color: var(--color-link-hover-light);
  }
  button {
  background-color: var(--color-btn-bg-light);
  }
}
